<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <title>Visualizations</title>
</head>
<body>

     <div class="sidebar">

    <div class="logo">
        <i class="fas fa-dumbbell"></i>
        <span>Track</span>
    </div>

    <a href="{{ url_for('home') }}" class="nav-icon">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>

    <a href="{{ url_for('dashboard') }}" class="nav-icon">
        <i class="fas fa-database"></i>
        <span>Data</span>
    </a>

    <a href="{{ url_for('datacleaning') }}" class="nav-icon">
        <i class="fas fa-broom"></i>
        <span>Data Cleaning</span>
    </a>

    <a href="{{ url_for('analytics') }}" class="nav-icon">
        <i class="fas fa-chart-line"></i>
        <span>Analytics</span>
    </a>

    <a href="{{ url_for('visuals') }}" class="nav-icon active">
        <i class="fas fa-chart-pie"></i>
        <span>Charts</span>
    </a>

    <a href="{{ url_for('insights') }}" class="nav-icon">
        <i class="fas fa-lightbulb"></i>
        <span>Insights</span>
    </a>

</div>

<div class="main-content">

    <div class="chart-card">
        <h3>Workout Distribution by Gender</h3>
        <img src="{{ url_for('static', filename='images/chart_1_bar_workout_by_gender.png') }}"
        alt="Workout Distribution by Gender">
    </div>

    <div class="chart-card">
        <h3>BMI and Body Fat by Experience</h3>
        <img src="{{ url_for('static', filename='images/chart_2_line_bmi_fat_by_experience.png') }}"
        alt="BMI and Body Fat">
    </div>

    <div class="chart-card">
        <h3>Workout Type Distribution</h3>
        <img src="{{ url_for('static', filename='images/chart_3_pie_workout_distribution.png') }}"
        alt="Workout Distribution">
    </div>

    <div class="chart-card">
        <h3>Resting BPM vs Calories Burned</h3>
        <img src="{{ url_for('static', filename='images/chart_4_scatter_restingbpm_calories.png') }}"
        alt="Resting BPM vs Calories Burned">
    </div>

    <div class="chart-card">
        <h3>Summary Table</h3>
        <img src="{{ url_for('static', filename='images/chart_5_summary_table.png') }}"
        alt="Summary of Key Calculated Values">
    </div>


</div>

    
</body>
</html>